@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:"Poppins";
    color: white;
}
.section{
    height: 80vh;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: inherit;
}
.left{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgPrivacy{
    margin-top: 100px;
    height: 150%;
    background: url(../../Assets/National-Privacy-Day-1280x720\ 1-min.jpg) no-repeat center/cover;
}
.contentPrivacy{
    margin-top: 100px;
    height: 65%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentPrivacyH1{
    font-size: 4rem;
    font-weight: bolder;
}
/* .section-four{
    height: 20vh;
} */