@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:"Poppins";
    color: white;
}

.heroImage{
    height: 130vh;
    background: url(../../Assets/hero-image-min.jpg) no-repeat center/cover;
}
.navBackground{
    height: 15vh;
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 8vh;
}
.btnSignIn{
    height: 8vh;
    width: 16rem;
    font-size: 2.3rem;
    font-weight: 520;
    background-color: #ff5400;
    border: #ff5400;
    border-radius: 0.8rem;
}
.heroContent{
    height: 115vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -4rem;
}
.heroH1{
    font-size: 5rem;
    text-align: center;
    line-height: 1;
}
.heroPara{
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
}
.heroGetStarted{
    margin-top: 2rem;
    padding: 1.5rem 8rem;
    font-weight: 700;
    background-color: #ff3c00;
    border: #ff5400;
    border-radius: 0.8rem;
}