@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.maindashboard-container {
    background-color: #f8f8f8;
    height: 100vh;
}

.maindashboard-flex {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 90%;
    margin-top: 30px;
}