@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');


nav{
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    height: 7rem;
    border-bottom: 1px solid #dad9d9;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    margin:0 30px;
    width:200px;
}


.signin-btn{
    margin-right:30px;
    width:154px;
    height: 40px;
    border-radius:5px ;
    background: #ff0000;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    font-family: raleway,sans-serif;
    
}

/* Mobile Responsiveness */
@media screen {
    
}