@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:"Poppins";
    color: white;
}
footerMain{
    height: 40vh;
    background-color: blue;
}
.footerOne{
    height: 20vh;
    background-color: black;
}
.footerOneContent{
    height: inherit;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    top: 15vh;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.footerTwo{
    height: 20vh;
    background-color: black;
}
.footerTwoContent{
    height: inherit;
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footerTwoContent p{
    margin-top: 2rem;
    font-size: 1.5rem;
}
