@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:"Poppins";
    color: white;
}
.sectionOne{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    text-align: center;
}
.sectionOneH2{
    font-size: 3.5rem;
    line-height: 1.2;
    position: relative;
    top: 15rem;
}
.sectionOneP{
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 1.2;
    position: relative;
    top: 15rem;
}
.laptopImg{
    height: 60rem;
    position: relative;
    top: 10rem;
}
.sectionTwo{
    height: 30vh;
}