* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: whitesmoke;
    font-size: 20px;
  }
  
  /* div container*/
  .container {
    height: 400px;
  }
  
  .welcome {
    font-size: 1rem;
  }
  
  h2 {
    color: orangered;
    margin-top: 3rem;
  }
  
  li a btn {
    border-radius: 6px;
  }
  
  /*This is the main page*/
  .main {
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 12rem;
  }
  
  /* main page button*/
  button {
    width: 15%;
    padding: 17px;
    margin-top: 20px;
    margin-bottom: 10rem;
    background: orangered;
    color: white;
    cursor: pointer;
    border: none;
    font-size: medium;
  }
  